<div class="home-intro">
    <div>
      <span class="serif jumbo very-bold">murmur</span><span class="large thin">.ink</span>
    </div>
    <div class="home-sub-text">
      <h3>
        <span>A <a href="/notes">garden</a> of notes about </span>
        {%- assign tags = "" | split: "," -%}
        {%- for note in site.notes -%}
          {%- assign tags = tags | concat: note.tags -%}
        {%- endfor -%}
        {%- assign tags = tags | sort | uniq -%}

        {%- for tag in tags -%}
          {%- if forloop.index == forloop.length -%} and {%- else -%}{% endif %}
          <a href="/tags#{{ tag }}">{{ tag }}</a>
          {%- if forloop.last -%}{%- else -%}, {% endif -%}
        {%- endfor %}<span>.</span>
      </h3> 
    </div>
</div>
